body {
  background-color: #f8f3ef;
  color: #143f21;
  font-family: 'Segoe UI', sans-serif;
}
#descriptions{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: medium;
}
.navbar {
  background-color: #143f21;
}
.navbar-brand, .nav-link {
  color: #fff !important;
  font-weight: bold;
}
.hero {
  background-image: url('https://images.squarespace-cdn.com/content/v1/673925059feafc19da587db2/c47ba6ce-5263-4a9c-834e-839a4fa09772/_CA14722.jpg?format=2500w');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  padding: 60px 20px;

  text-align: center;
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-weight: bold;
  font-size: x-large;
}
.hero h1 {
  font-family: monospace;
  font-weight: 500;
  font-size: 3rem;
  color: #f8f3ef;
  margin-bottom: 10px;
}
.menu-item {
  background-color: #fff;
  font-family: monospace;
  font-size: xx-large;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 15px;
  margin-bottom: 15px;
  height: 250px;
}
footer {
  background-color: #143f21;
  color: white;
  padding: 20px 10px;
  text-align: center;
  margin-top: 40px;
}

