body {
  background-color: #f8f3ef;
  color: #143f21;
  font-family: 'Segoe UI', sans-serif;
}
#descriptions{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: medium;
}
.navbar {
  background-color: #3f1414;
}
.navbar-brand, .nav-link {
  color: #fff !important;
  font-weight: bold;
}

.hero {
  background-image: url("images/mapfirewalk.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;

  text-align: center;
  color: #3b1f1f;
  text-shadow: 2px 2px 5px rgba(255, 240, 220, 0.9);
  font-family: monospace;
  font-weight: bold;
  font-size: x-large;
}
.hero h1 {
  
  font-family: monospace;
  font-weight: 500;
  font-size: 5rem;
  color: #3b1f1f;
  text-shadow: 2px 2px 5px rgba(255, 240, 220, 0.9);
  margin-bottom: 10px;
}

.play-button {
  margin-top: 25px;
  padding: 12px 30px;

  background-color: #4b1717;
  color: #f5eadc;

  font-family: monospace;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;

  border: 2px solid #2b0c0c;
  border-radius: 8px;

  transition: 0.3s;
}

.play-button:hover {
  background-color: #8d0101;
  color: white;
  transform: scale(1.05);
}

.about-page {
  background-image: url("images/mapfirewalk.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;
}

.about-box {
  max-width: 850px;
  margin: 120px auto;
  padding: 40px;

  background-color: rgba(248, 243, 239, 0.88);
  border: 2px solid #3f1414;
  border-radius: 12px;

  text-align: center;
  color: #143f21;
  font-family: monospace;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.about-box h2 {
  color: #3b1f1f;
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-box p {
  font-size: 1.1rem;
  line-height: 1.7;
}

html, body {
  margin: 0;
  min-height: 100%;
}

body.about-page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-image: url("images/treetest.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about-page footer {
  margin-top: auto;
}

.menu-item {
  background-color: #fff;
  font-family: monospace;
  font-size: xx-large;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 15px;
  margin-bottom: 15px;
  min-height: 250px;
}

footer {
  background-color: #143f21;
  color: white;
  padding: 20px 10px;
  text-align: center;
  margin-top: 40px;
}

